doctype html
html(lang="en")
	head
		title react-spreadsheet
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		h1 Hello!
		#excel
		script(src="/static/js/bundle.js")
