doctype html
html(lang="en")
	head
		title Books
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		h1 Books
		#spreadsheet
		script(src="/static/js/bundle.js")
